<html>
  <head>
    <title>Demonstration</title>
    <style>

      .grid-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        //background-color: #2196F3;
        padding: 10px;
      }
      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
      }
      
      
    </style>


  </head> 
  <body>
    <h1>Demonstration</h1>
    
    <div class="grid-container">
      <div class="grid-item">Day/Night Camera View
        <img id="video" src="{{ url_for('video') }}" width="100%">
      </div>
      <div class="grid-item">Processed NN View
        <img id ="video" src="{{ url_for('video') }}" width="100%">
      </div>
      <div class="grid-item">3
        <div class="content">
          <div class="grid-container">
            <div class="grid-item" id="keycontrol">1
              
            </div>
            
            <div class="grid-item" style="max-weight:100%">2
            <p style="word-break: break-all;">
            {{message.response}}
            </p>
            </div>
            
          </div>
        </div>
    </div>  
      <div class="grid-item">4</div>
    </div>
  
  </body>
</html>
